ion-split-pane {
    --side-width: 50%;
    --side-max-width: 50%;
  
}
.input{
    --margin:50 20 !important;
}

.color-red{
    color: var(--ion-color-red);
  }

.title{
    font-weight: 600;
    font-size: large;
  }
